<table>
    @for (medal of medalsForCountry; track medal) {
        <tr>
            <td>{{medal.medalDate}}</td>
            @if(isAthlete(medal.medalistName)) {
                <td (click)="showAthletePopUp(medal.medalistName)" class="link">{{medal.medalistName}}</td>
            }
            @if(!isAthlete(medal.medalistName)) {
                <td>{{medal.medalistName}}</td>
            }
            <td (click)="showEventPopUp(medal.eventID)" class="link">{{medal.event}}</td>
            <td class="align-center">{{medal.medalCode}}{{medal.numAthletes}}</td>
        </tr>
    }
    @if (shouldOpenAthletePopup) {
        <div id="popup-wrapper">
            <app-athlete-detail [athleteName]="nameForPopup" class="popup" (closePopup)="shouldClosePopUp($event)"/>
        </div>
    }

    @if (shouldOpenEventPopup) {
        <div id="popup-wrapper">
            <app-event-detail [eventID]="eventForPopup" class="popup" (closePopup)="shouldClosePopUp($event)"/>
        </div>
    }
</table>
