table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    padding: 50px;
    background-color: var(--table-backgroud);
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px var(--table-backgroud); /* this draws the table border  */
}

td {
    padding: 0 10px;
}

.country-and-flag {
    display: flex;
    align-items: center;
    gap: 5px;
}

th {
    padding: 20px 10px 10px 10px;
}
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.expand {
    background-color: var(--table-backgroud);
    color: var(--body-color);
    border: 1px solid var(--body-color);
    cursor: pointer;
}

tr:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
}

@media only screen and (max-width: 650px) {
    .desktop {
        display: none;
    }
}

.link {
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
}

table {
    width: 100%;
    position: relative;
}
td {
    padding: 0 10px;
    position: relative;
}

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
#popup-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    z-index: 3;
    background-color: var(--main-background-color);
    border: 1px solid #E3E3E3;
    padding: 20px;
}

.link {
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
}